@layer base {
  :root {
    --color-primary-50: #393e46;
    --color-primary-100: #f9f9f9;
    --color-primary-200: #e9e9e9;
    --color-primary-300: #d4d4d8;
    --color-primary-400: #a1a1aa;
    --color-primary-500: #858585;
    --color-primary-600: #52525b;
    --color-primary-700: #3f3f46;
    --color-primary-800: #27272a;
    --color-primary-900: #101828;
    --color-primary-950: #18181b;

    --color-progress-400: #4ade80;
    --color-progress-500: #22c55e;
    --color-progress-600: #16a34a;

    --color-chart-400: #60a5fa;
    --color-chart-500: #3b82f6;
    --color-chart-600: #2563eb;
  }

  * {
    box-sizing: border-box;
  }

  body {
    font-family: "Quicksand", sans-serif;
  }
}
