@layer utilities {
  .bg-primary-50 {
    background-color: var(--color-primary-50);
  }
  .bg-primary-100 {
    background-color: var(--color-primary-100);
  }
  .bg-primary-200 {
    background-color: var(--color-primary-200);
  }
  .bg-primary-300 {
    background-color: var(--color-primary-300);
  }
  .bg-primary-400 {
    background-color: var(--color-primary-400);
  }
  .bg-primary-500 {
    background-color: var(--color-primary-500);
  }
  .bg-primary-600 {
    background-color: var(--color-primary-600);
  }
  .bg-primary-700 {
    background-color: var(--color-primary-700);
  }
  .bg-primary-800 {
    background-color: var(--color-primary-800);
  }
  .bg-primary-900 {
    background-color: var(--color-primary-900);
  }
  .bg-primary-950 {
    background-color: var(--color-primary-950);
  }

  .bg-progress-400 {
    background-color: var(--color-progress-400);
  }
  .bg-progress-500 {
    background-color: var(--color-progress-500);
  }
  .bg-progress-600 {
    background-color: var(--color-progress-600);
  }

  .bg-chart-400 {
    background-color: var(--color-chart-400);
  }
  .bg-chart-500 {
    background-color: var(--color-chart-500);
  }
  .bg-chart-600 {
    background-color: var(--color-chart-600);
  }

  .hover\:bg-primary-50:hover {
    background-color: var(--color-primary-50);
  }
  .hover\:bg-primary-100:hover {
    background-color: var(--color-primary-100);
  }
  .hover\:bg-primary-200:hover {
    background-color: var(--color-primary-200);
  }
  .hover\:bg-primary-300:hover {
    background-color: var(--color-primary-300);
  }
  .hover\:bg-primary-400:hover {
    background-color: var(--color-primary-400);
  }
  .hover\:bg-primary-500:hover {
    background-color: var(--color-primary-500);
  }
  .hover\:bg-primary-600:hover {
    background-color: var(--color-primary-600);
  }
  .hover\:bg-primary-700:hover {
    background-color: var(--color-primary-700);
  }
  .hover\:bg-primary-800:hover {
    background-color: var(--color-primary-800);
  }
  .hover\:bg-primary-900:hover {
    background-color: var(--color-primary-900);
  }
  .hover\:bg-primary-950:hover {
    background-color: var(--color-primary-950);
  }

  .hover\:bg-progress-500:hover {
    background-color: var(--color-progress-500);
  }
  .hover\:bg-chart-500:hover {
    background-color: var(--color-chart-500);
  }

  .text-primary-50 {
    color: var(--color-primary-50);
  }
  .text-primary-100 {
    color: var(--color-primary-100);
  }
  .text-primary-200 {
    color: var(--color-primary-200);
  }
  .text-primary-300 {
    color: var(--color-primary-300);
  }
  .text-primary-400 {
    color: var(--color-primary-400);
  }
  .text-primary-500 {
    color: var(--color-primary-500);
  }
  .text-primary-600 {
    color: var(--color-primary-600);
  }
  .text-primary-700 {
    color: var(--color-primary-700);
  }
  .text-primary-800 {
    color: var(--color-primary-800);
  }
  .text-primary-900 {
    color: var(--color-primary-900);
  }
  .text-primary-950 {
    color: var(--color-primary-950);
  }

  .text-progress-500 {
    color: var(--color-progress-500);
  }
  .text-chart-500 {
    color: var(--color-chart-500);
  }

  .hover\:text-primary-50:hover {
    color: var(--color-primary-50);
  }
  .hover\:text-primary-100:hover {
    color: var(--color-primary-100);
  }
  .hover\:text-primary-200:hover {
    color: var(--color-primary-200);
  }
  .hover\:text-primary-300:hover {
    color: var(--color-primary-300);
  }
  .hover\:text-primary-400:hover {
    color: var(--color-primary-400);
  }
  .hover\:text-primary-500:hover {
    color: var(--color-primary-500);
  }
  .hover\:text-primary-600:hover {
    color: var(--color-primary-600);
  }
  .hover\:text-primary-700:hover {
    color: var(--color-primary-700);
  }
  .hover\:text-primary-800:hover {
    color: var(--color-primary-800);
  }
  .hover\:text-primary-900:hover {
    color: var(--color-primary-900);
  }
  .hover\:text-primary-950:hover {
    color: var(--color-primary-950);
  }

  .border-primary-100 {
    border-color: var(--color-primary-100);
  }
  .border-primary-500 {
    border-color: var(--color-primary-500);
  }
  .border-primary-700 {
    border-color: var(--color-primary-700);
  }
  .border-progress-500 {
    border-color: var(--color-progress-500);
  }
  .border-chart-500 {
    border-color: var(--color-chart-500);
  }

  .hover\:border-primary-100:hover {
    border-color: var(--color-primary-100);
  }
  .hover\:border-primary-500:hover {
    border-color: var(--color-primary-500);
  }
  .hover\:border-primary-700:hover {
    border-color: var(--color-primary-700);
  }

  .hover\:grainy-border:hover {
    border-radius: 0.75rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.06);
    border: 2px solid rgb(229, 231, 235);
  }

  .focus\:border-primary-500:focus {
    border-color: var(--color-primary-500);
  }
  .focus\:border-primary-700:focus {
    border-color: var(--color-primary-700);
  }

  .focus-within\:border-primary-700:focus-within {
    border-color: var(--color-primary-700);
  }
}
